<!DOCTYPE html>
<html>
    <head>
        <title>GR - {% block nosaukums %} Cats bizz {% endblock %}</title>
    </head>
    <body>
        <a href="/">Sākums</a>
        <a href="/tests">Tests</a>
        <a href="/saraksts">Saraksts</a>

        <h1>Gundara Ribicka mājaslapa</h1>
        {% block saturs %}
        <p>Kaķīši</p>
        {% endblock %}
        {% block pic %}
        <img src="https://cdn.britannica.com/25/172925-050-DC7E2298/black-cat-back.jpg">
        {% endblock %}

    </body>
</html>